doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width", initial-scale="1.0", maximum-scale="1", user-scalable="no")
    title Branding Brand's live analytics for No More Rack.
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic',rel='stylesheet', type='text/css')
    link(href="css/main.css", rel="stylesheet")

  body(ng-app="nomorerack")
    main
      h1 No More Rack | 
        em You're logged in. 
          a(href="/auth/logout") Logout

      p Welcome | #{user.username}

      br
      hr

      div(ng-controller="LiveCtrl")
        p current break down
        p {{currentDate}}
        div(ng-repeat="total in liveTotals track by $index")
          p {{total.start}} - {{total.finish}} : {{total.price}}

      br
      hr
      section(ng-controller="datedCtrl")
        div.last24
          p last 24 hours break down 
          p from {{yesterday}} to {{currentDate}}. 
          div(ng-repeat="hours in last24 track by $index")
            p {{hours.start}} - {{hours.finish}} : {{hours.price}}
          p total from {{last24_total_start}} to {{last24_total_end}}.
          p {{last24_total}}
        br
        hr

        div.sevendays
          p last 7 days break down    
          p from {{yesterday}} to {{currentDate}}. 
          div(ng-repeat="days in last7 track by $index")
            p {{days.start}} - {{days.finish}} : {{days.price}}
          p total from {{last7_total_start}} to {{last7_total_end}}.
          p {{last7_total}}

        br
        hr

        div.alltime
          p all time breakdown  
          p {{facets}}
      

    script(src='/js/moment.min.js')
    script(src='/js/accounting.min.js')
    script(src='/js/angular.js')
    script(src='/js/angular-local-storage.min.js')
    script(src='/js/elasticsearch.angular.min.js')
    script(src='/js/init.js')
