doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width", initial-scale="1.0", maximum-scale="1", user-scalable="no")
    title Branding Brand's live analytics for No More Rack.
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic',rel='stylesheet', type='text/css')
    link(href="css/main.css", rel="stylesheet")

  body(ng-app="nomorerack")
    main(ng-controller="dataPull")
      h1 No More Rack | 
        em You're logged in. 
          a(href="/auth/logout") Logout
      p Welcome | #{user.username}
      hr
      p total on {{date}}: {{today}}
      p last 30 minutes: {{last30}}
      br
      hr
      h1 last 10 purchase 
      p(ng-repeat="source in hits") ${{source._source.receipt.summary.total}} {{source._source.receipt.summary.currency}}
      hr
      p total of all time: {{facets}}

    script(src='/js/moment.min.js')
    script(src='/js/accounting.min.js')
    script(src='/js/angular.min.js')
    script(src='/js/elasticsearch.angular.min.js')
    script(src='/js/init.js')
