doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width", initial-scale="1.0", maximum-scale="1", user-scalable="no")
    title Branding Brand's live analytics for No More Rack.
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic',rel='stylesheet', type='text/css')
    link(href="css/main.css", rel="stylesheet")

  body(ng-app="nomorerack" )

    header
      h1 MCI 
        span | No More Rack Live Data  
      p Welcome #{user.username} |  
        span  
          a(href="/auth/logout") Logout
    main(data-ng-cloak)
      article.livedata(ng-controller="LiveCtrl")
        
        section.live
          h1 Current break down
          h2 {{currentDate}}
          div(ng-repeat="total in liveTotals track by $index")
            p {{total.start}} - {{total.finish}} : {{total.price}}

      article.olddata(ng-controller="datedCtrl")

        section.last24
          h1 Last 24 hours break down
          h2 {{yesterday}} to {{currentDate}}. 
          div(ng-repeat="hours in last24 track by $index")
            p {{hours.start}} - {{hours.finish}} : {{hours.price}}
          p total from {{last24_total_start}} to {{last24_total_end}}.
          p {{last24_total}}

        section.sevendays
          h1 Last 7 days break down 
          h2 {{yesterday}} to {{currentDate}}. 
          div(ng-repeat="days in last7 track by $index")
            p {{days.start}} - {{days.finish}} : {{days.price}}
          p total from {{last7_total_start}} to {{last7_total_end}}.
          p {{last7_total}}

    script(src='/js/moment.min.js')
    script(src='/js/accounting.min.js')
    script(src='/js/angular.js')
    script(src='/js/angular-local-storage.min.js')
    script(src='/js/elasticsearch.angular.min.js')
    script(src='/js/init.js')
