$main-nav-width : 14em;
$load-bar-height : 5px;

//sidebar
$gutterSize : .8rem;
$lineSpacing : 1.2rem;
$navborderT : 1px solid #161616; 
$navborderB : 1px solid #313131; 
$red : #e40202; 
$navWidth: 12rem;